body {
    font-family: 'Baloo Chettan', verdana;
    font-size: 13px;
    /*background-color: #9fe2bf;*/
}

.vendOuter {
    background-color: #808080;
    border: 10px solid black;
    padding: 20px;
    margin: 5%;
    width: 73%;
}

marquee {
     margin-bottom: 25px;
     border-radius: 10px;
     font-size: 45px;
     background-color: white;
     color: #808080;
     width: 55%;
    
}

.moneyDiv {
    padding: 20px 10px; 
    width: 200px;
    background-color: silver;
}

.centered {
    text-align: center;
}

span.glyphicon {
    font-size: 1.5em;
}

.item {
    /*margin: 7px 0px;*/
     width: 110px; 
     height: 80px;
}

button {
    width: 100%;
    height: 100%;
}
